<ngx-spinner *ngIf="showSpinner"></ngx-spinner>

<h2>My Hobbies</h2>

<div class="container">
    
    <table class="ac-widget">
        <tr>
            <th class="title">Programming</th>
        </tr>
        <tr>  
            <td> 
                <div class="tableBodyContainer">
                    <img src = "assets/images/code1.jpg" alt = "code1">
                    <img src = "assets/images/code2.jpg" alt = "code2">
                </div>   
            </td>
        </tr>
    </table>	

    <table class="ac-widget">
        <tr>
            <th class="title">Soccer</th>
        </tr>
        <tr>
            <td>
                <div class="tableBodyContainer">
                    <img src = "assets/images/ball1.jpg" alt = "ball1">
                    <img src = "assets/images/ball2.jpg" alt = "ball2">
                </div>
            </td>
        </tr>
    </table>		

    <table class="ac-widget">
        <tr>
            <th class="title">Running</th>
        </tr>
        <tr>
            <td>
                <div class="tableBodyContainer">
                    <img src = "assets/images/run1.jpg" alt = "hike1">
                    <img src = "assets/images/run2.jpg" alt = "hike2">
                </div>

            </td>
        </tr>
    </table>

    <table class="ac-widget">
        <tr>
            <th class="title">Hiking</th>
        </tr>
        <tr>
            <td>
                <div class="tableBodyContainer">
                    <img src = "assets/images/hike1.jpg" alt = "hike1">
                    <img src = "assets/images/hike2.jpg" alt = "hike2">
                </div>
            </td>
        </tr>
    </table>

    <table class="ac-widget">
        <tr>
            <th class="title">Fishing</th>
        </tr>
        <tr>
            <td>
                <div class="tableBodyContainer">
                    <img src = "assets/images/fish1.jpg" alt = "fish1">
                    <img src = "assets/images/fish2.jpg" alt = "fish2">
                </div>
            </td>
        </tr>
    </table>

</div>
