:host {
  padding: 8px 80px;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap:  wrap;
  text-align: center;
}

table{
margin: 8px;
}

.title{
  text-align:center;
  color: rgb(0, 58, 247);
  font-size: 16px;
  border-bottom: solid 2px rgb(0, 0, 0,.3);
}
.ac-widget{
  min-width: 400px;
  background: white;
  border: solid 3px black; 
}
th,td{
  text-align: center;
 display: table-cell;
 padding: 1em;
 }
 img{
  width: 242px;
}
.rightImg{
  border-right: solid 3px black; 
}

