:host {
  padding: 8px 80px;
}

h2{
  margin: 32px 0;
  text-align: center;
}


.container {
  display: flex; 
  flex-wrap:  wrap;
  text-align: center;
}

table.ac-widget{
  margin: 8px;
  background: white;
  border: solid 3px black; 
  min-width: 490px;
  box-shadow: 0 0 10px;
  img{
    width: 259px;
  }
}

th.title{
  text-align:center;
  color: rgb(0, 58, 247);
  font-size: 18px;
  border-bottom: solid 2px rgb(0, 0, 0,.3);
  padding: 1em;
}

.tableBodyContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center; 
  height: 100%;
}

td{
  padding: 10px;
  img:first-child{
    margin-right: 10px;
  }
}

