<h2>My Hobbies</h2>
<div class="container">
<table class="ac-widget">
    <tr>
        <th class="title" colspan="100%" >Programming</th>
    </tr>
    <tr>
        <td><img src = "assets/images/code1.jpg" alt = "code1"></td>
        <td><img src = "assets/images/code2.jpg" alt = "code2"></td>
    </tr>
</table>			
<table class="ac-widget">
    <tr>
        <th class="title" colspan="100%" >Soccer</th>
    </tr>
    <tr>
        <td><img src = "assets/images/ball1.jpg" alt = "ball1"></td>
        <td><img src = "assets/images/ball2.jpg" alt = "ball2"></td>
    </tr>
</table>		
<table class="ac-widget">
    <tr>
        <th class="title" colspan="100%" >Running</th>
    </tr>
    <tr>
        <td><img src = "assets/images/run1.jpg" alt = "hike1"></td>
        <td><img src = "assets/images/run2.jpg" alt = "hike2"></td>
          </tr>
</table>		
<table class="ac-widget">
    <tr>
        <th class="title" colspan="100%" >Hiking</th>
    </tr>
    <tr>
        <td><img src = "assets/images/hike1.jpg" alt = "hike1"></td>
        <td><img src = "assets/images/hike2.jpg" alt = "hike2"></td>
          </tr>
</table>	
<table class="ac-widget">
    <tr>
        <th class="title" colspan="100%" >Fishing</th>
    </tr>
    <tr>
        <td><img src = "assets/images/fish1.jpg" alt = "fish1"></td>
        <td><img src = "assets/images/fish2.jpg" alt = "fish2"></td>
        </tr>
</table>			
</div>
