<div class= 'container'>
    
    <table class="ac-widget">
        <tr>
            <th class="title">{{languageTableItems?.title}}</th>
        </tr>
        <tr>
            <td>
                <div class="tableBodyContainer">
                    <div *ngFor="let item of languageTableItems?.skills">
                        <div class ="rowContainer">
                            <div class="column">
                                <img src = "{{item?.icon}}" alt = ""/>
                            </div>
                            <div class="column">
                                {{ item?.name }}
                            </div>
                            <div class="column">
                                {{item?.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </td> 
        </tr>
    </table>


    <table class="ac-widget">
        <tr>
            <th class="title">{{developmentToolsTableItems?.title}}</th>
        </tr>
        <tr>
            <td>
                <div class="tableBodyContainer">
                    <div *ngFor="let item of developmentToolsTableItems?.skills">
                        <div class ="rowContainer">
                            <div class="column">
                                <img src = "{{item?.icon}}" alt = ""/>
                            </div>
                            <div class="column">
                                {{ item?.name }}
                            </div>
                            <div class="column">
                                                    {{item.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </td> 
        </tr>
    </table>

    <table class="ac-widget">
            <tr>
                <th class="title">{{automationTableItems?.title}}</th>
            </tr>
            <tr>
                    <td>
                        <div class="tableBodyContainer">
                            <div *ngFor="let item of automationTableItems?.skills">
                                <div class ="rowContainer">
                                    <div class="column">
                                        <img src = "{{item?.icon}}" alt = ""/>
                                    </div>
                                    <div class="column">
                                        {{ item?.name }}
                                    </div>
                                    <div class="column">
                                            {{item.description}}
                                        </div>
                                </div>
                            </div>
                        </div>
                    </td> 
                </tr>
            </table>


            <table class="ac-widget">
                    <tr>
                        <th class="title">{{databasesTableItems?.title}}</th>
                    </tr>
                    <tr>
                            <td>
                                <div class="tableBodyContainer">
                                    <div *ngFor="let item of databasesTableItems?.skills">
                                        <div class ="rowContainer">
                                            <div class="column">
                                                <img src = "{{item?.icon}}" alt = ""/>
                                            </div>
                                            <div class="column">
                                                {{ item?.name }}
                                            </div>
                                            <div class="column">
                                                 {{item.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td> 
                        </tr>
                    </table>
                    <table class="ac-widget">
                        <tr>
                            <th class="title">{{frameworksTableItems?.title}}</th>
                            <tr>
                                    <td>
                                        <div class="tableBodyContainer">
                                            <div *ngFor="let item of frameworksTableItems?.skills">
                                                <div class ="rowContainer">
                                                    <div class="column">
                                                        <img src = "{{item?.icon}}" alt = ""/>
                                                    </div>
                                                    <div class="column">
                                                        {{ item?.name }}
                                                    </div>
                                                    <div class="column">
                                                        {{item.description}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td> 
                                </tr>
                            </table>
                            <table class="ac-widget">
                                <tr>
                                    <th class="title">{{cicdTableItems?.title}}</th>
                                </tr>
                                <tr>
                                        <td>
                                            <div class="tableBodyContainer">
                                                <div *ngFor="let item of cicdTableItems?.skills">
                                                    <div class ="rowContainer">
                                                        <div class="column">
                                                            <img src = "{{item?.icon}}" alt = ""/>
                                                        </div>
                                                        <div class="column">
                                                            {{ item?.name }}
                                                        </div>
                                                        <div class="column">
                                                                {{item.description}}
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td> 
                                    </tr>
                                </table>
                
                <table class="ac-widget">
                    <tr>
                        <th class="title">{{amazingSkillsTableItems?.title}} 😎</th>
                        <tr>
                                <td>
                                    <div class="tableBodyContainer">
                                        <div *ngFor="let item of amazingSkillsTableItems?.skills">
                                            <div class ="rowContainer">
                                                <div class="column">
                                                    <img src = "{{item?.icon}}" alt = ""/>
                                                </div>
                                                <div class="column">
                                                    {{ item?.name }}
                                                </div>
                                                <div class="column">
                                                    {{item.description}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td> 
                            </tr>
                        </table>



                        

</div>


