:host {
  background: #333333;
  color: #ffffff;
  padding: 6px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
}

.copyright{
  width:215px;
  text-align: center;
  color: #b8c7ce;
}

.divider {
  display: flex;
  flex: 1;
}
.creditLink{
  padding-right: 16px;
}