<h2>My Projects</h2>

<div class="buttonSection">
   
  <div *ngFor="let project of projects; let i = index">  
    <section class="buttonContainer">
      <button class="btn btn-secondary" (click)="hideme[i] = !hideme[i]">{{project?.buttonTitle}}
        <span class ="checkmarkImg" [hidden]="hideme[i]" >
          <img src = "assets/images/checkmarkIcon.png"/>
        </span>
      </button>
    </section>
  </div>
</div>


<div class= 'container'>  

   <div *ngFor="let project of projects; let i = index">  
    <table class="ac-widget" [hidden]="hideme[i]">
      <th>
          <div class="title">
            <span class ="left">
                {{project?.title}}
              </span>
              <span>
                <button (click)="hideme[i] = !hideme[i]"><img src="/assets/images/closeIcon.png" /></button>
              </span> 
          </div>
      </th>
    <tr>
      <td class ="tools">{{project?.tools}}</td>
    </tr>
    <tr>
      <td>
          <div class="tableBodyContainer">
                <div class="column">
                  <span class = angular-with-newlines>{{project?.description}}</span>
                </div>
                  <div class="column">
                    <img src="{{project?.images[0]?.path}}" alt="{{project?.images[0]?.alt}}"/>
                  </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div> 

