<ngx-spinner *ngIf="showSpinner"></ngx-spinner>

<h2>My Projects</h2>

<div class="buttonSection"> 
    <div class= "buttonHeader">
      <section class="buttonContainer">
        <button  class="btn allBtn" (click)="openAllProjects(projects.length)">Open All Projects</button>
        <button  class="btn allBtn" (click)="closeAllProjects(projects.length)">Close All Projects</button>
      </section>
    </div>

    <div *ngFor="let project of projects; let i = index;">
    <section class="buttonContainer">
      <button class="btn btn-secondary" (click)="hideme[i] = !hideme[i]">{{project?.buttonTitle}}
        <span class ="checkmarkImg" [hidden]="hideme[i]" >
          <img src = "assets/images/checkmarkIcon.png"/>
        </span>
      </button>
    </section>
  </div>
</div>

<div class= 'container'>  

   <div class = "testing" *ngFor="let project of projects; let i = index">  
    <table class="ac-widget" [hidden]="hideme[i]">
      <th>
          <div class="title">
            <span class ="left">
                {{project?.title}}
              </span>
              <span>
                <button (click)="hideme[i] = !hideme[i]"><img src="/assets/images/closeIcon.png" /></button>
              </span> 
          </div>
      </th>
    <tr>
      <td class ="tools angular-with-newlines">{{project?.tools}}</td>
    </tr>
    <tr>
      <td class ="githubLink">Github Link: 
        <a *ngIf= "project?.githubLink; else noLink" href="{{project?.githubLink}}">{{project?.githubLink}}</a>
        <ng-template #noLink>                
          <span>This repo is private</span>
        </ng-template>
      </td>
    </tr>
    <tr>
      <td>
          <div class="tableBodyContainer">
              <div class="column">
                <span class = "angular-with-newlines">{{project?.description}}</span>
              </div>
              <div class="column">
                <div class = "imageDescription">{{project?.images[0]?.imageDescription}}</div>
                <slideshow *ngIf= "project?.images[0]?.imgArr?.length > '1'; else showSingleImage" [height]="'780px'" [imageUrls]="project?.images[0]?.imgArr"></slideshow>             
                <ng-template #showSingleImage>                
                  <img src="{{ project?.images[0]?.imgArr[0] }}" alt="{{project?.images[0]?.alt}}"/>
                </ng-template>
              </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div> 
