<ngx-spinner *ngIf="showSpinner">  <p style="font-size: 24px; color: grey">Loading...</p> </ngx-spinner>


<h2>Contact</h2>
<p>
    Email: <a href = "mailto: mezamarco@yahoo.com">mezamarco@yahoo.com</a>
</p>

<p>
    Github: <a href = "https://www.github.com/mezamarco" target="_blank">https://www.github.com/mezamarco</a>
</p>

<p>
    LinkedIn: <a href = "https://www.linkedin.com/in/mezamarco/" target="_blank">https://www.linkedin.com/in/mezamarco/</a>
</p>

<hr/>


<form class="userForm" [formGroup]="messageForm" (ngSubmit)="onSubmit()" *ngIf = "!newMessageEntered;else thankYouMessage">
    <h3>Contact Me</h3>

    <div>
      <label for="name">
        <span class="redColor">* </span>Name: 
      </label>
      <input type="text" size="25" formControlName="name" required>
    </div>

    <div>
      <label for="email">
        <span class="redColor">* </span>Email: 
      </label>
      <input type="text" size="25" formControlName="email" required>
    </div>

    <div>
        <textarea rows="5" cols="50" type="text" formControlName="message" required></textarea><br><br>
    </div>
    <button class="subBtn" type="submit" [disabled]="!messageForm.valid">Submit</button>
  </form>

  <ng-template #thankYouMessage>
    <h3>
      Thank you for contacting me.<br>I will get back to you as soon as possible.
    </h3>
  </ng-template>
  
<hr>
<p>
  Form Value: {{ messageForm.value | json }}
</p>

<p>
  Form Status: {{ messageForm.status }}
</p>
<hr>

<div class="ApiCallClass">
    <h3>API Call</h3>
    <div *ngFor="let person of peopleResponse">
        {{person?.firstName}} {{person?.lastName}} {{person?.age}} 
    </div>
</div>


<div class="ApiCallClass">
  <h3>Message Endpoint Call</h3>
  <div *ngFor="let m of messagesResponse">
      {{m?.name}} {{m?.email}} {{m?.message}} 
  </div>
</div>