:host {
  display: flex;
  flex-flow: column;
  border: 0 solid #e1e1e1;
  height: 100%;
  background-color: #2f4050;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navSelection{
  width: 100%;
  text-decoration: none;
  margin-top:32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 56px;
}


a {
  text-decoration: none;
  color: #a7b1c2;
  padding-left: 32px;
  display: flex;
  align-items: center;
   &:hover{ 
    background-color: #293846;
  }
  span{
    padding-left: 24px;
  }
}
  
//The current active link should be in different color
a.router-link-active {
  background: #333333;
  color: white;
  font-weight: 550;
  border-left: solid 12px rgb(0, 0, 0);
  padding-left: 20px;
}

.fill {
  flex: 1;
}
