<div class="navSelection">
    <a [routerLink]="['/home']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" title="Home">
        <img src="/assets/images/homeIcon.png"/><span>HOME</span>
    </a>
</div>

<div class="navSelection">
    <a [routerLink]="['/projects']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" title="Projects">
        <img src="/assets/images/projectsIcon.png"/><span>PROJECTS</span>
    </a>
</div>

<div class="navSelection">
    <a [routerLink]="['/hobbies']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" title="Hobbies">
        <img src="/assets/images/hobbiesIcon.png"><span>HOBBIES</span>
    </a>
</div>

<div class="navSelection">
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" title="About">
        <img src="/assets/images/aboutIcon.png"><span>ABOUT</span>
    </a>
</div>

<div class="fill"></div>
