<div class='header'>
    
    <div class='item'>
      <a [routerLink]="['/']" id="nameLink"><h1>Marco Meza</h1></a>
    </div>
    
    <div class='divider'></div>
        
    <a href="https://www.github.com/mezamarco"  target="_blank"class="itemRight" title="Github">
      <img src="/assets/images/githubIcon.png">Github
    </a>
    <a href="https://www.linkedin.com/in/mezamarco/" target="_blank" class="itemRight" title="LinkedIn">
     <img src="/assets/images/linkedInIcon.png">LinkedIn
    </a>
    
    <!--I need to enter a password in order to download the following file
        give a warning: Please email Marco at mezamarco@yahoo.com for a password.
        I need to upload the resume(update the resume) -->
    
    <a  href="" class="itemRight" title="Resume"  (click)="emailAlert()">
      <img src="/assets/images/csvIcon.png">Resume
    </a>
</div>
    
