:host {
  padding: 80px 80px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */ 
  width: 410px;
  height: 410px;
}

h2{
  margin: 32px 0;
  text-align: center;
}

.myInfo{
  text-align: center;
}
